@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Esse sistema foi desenvolvido utilizando APS.NET Core <a href="https://docs.microsoft.com/aspnet/core">veja mais aqui</a>.</p>
</div>
